tunnel: REPLACE_WITH_TUNNEL_UUID
credentials-file: /home/yz_wang/.cloudflared/REPLACE_WITH_TUNNEL_UUID.json

ingress:
  - hostname: agora.dell.ing
    service: http://127.0.0.1:8125
  - service: http_status:404
